<div id="hero" class="jumbotron">
  <div class="container">
    <div class="intro-heading">
        <h1>Branta</h1>
        <p class="lead">Push your site. Get it indexed. Search it instantly.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="numeric-point-wrapper">
        <span class="numeric-point">1</span>
        <p>Add a webhook to your repository that fires a <code><a href="https://developer.github.com/v3/activity/events/types/#pagebuildevent">PageBuildEvent</a></code>.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="numeric-point-wrapper">
        <span class="numeric-point">2</span>
        <p>Make changes to your GitHub Pages site. Every site rebuild is reindexed for search.</p>
      </div>
   </div>
    <div class="col-md-4">
      <div class="numeric-point-wrapper">
        <span class="numeric-point">3</span>
        <p>Make an AJAX query to Branta and get your search results.</p>
      </div>
    </div>
  </div>
  <p class="center-block text-center">Branta respects your <em>sitemap.xml</em> and <em>robots.txt</em> files.</p>
</div>
