<% if defined?(Devise) %>
  <% if user_signed_in? %>
    <%= render partial: "welcome/repository_list" %>
  <% else %>
    <h1>Welcome#index</h1>
    <p>Find me in app/views/welcome/index.html.erb</p>
  <% end %>
<% end %>
