<div class="container">

  <p class="lead text-center">
    What! This isn't free?
  </p>

  <div class="panel">
    <div class="panel-body">
      <p>Well technically, yes. Branta is free. And that's the problem.</p>

      <p>I'm hosting this gratis on Heroku with all the "free" add-ons I can muster. So, one web worker, the free version of Redis, the free version of Postgres, etc.</p>

      <p>For improved performance, I'd <em>like</em> to be able to bump the add-ons to production-level. That means Branta will be able to work faster, harder, and better for everyone involved.</p>
    </div>
  </div>

</div>
