@import "variables";

#topnav.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

body.about-page #topnav.navbar .about a {
  color: #ffffff;
}

body.donate-page #topnav.navbar .donate a {
  color: #ffffff;
}

body.manage_webhook-page #topnav.navbar .manage a {
  color: #ffffff;
}
