// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#main {
  background-color: white;
}

.octicon-x {
  color: red;
}

.octicon-check {
  color: green;
}

.octicon-zap {
  color: #ffc323;
}
