@import "variables";

body#main {
  background-color: white;
}

.octicon-x {
  color: red;
}

.octicon-check {
  color: green;
}

.octicon-zap {
  color: #ffc323;
}

body > .container {
  padding-top: 20px;
}
